
:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* font-style: normal; */
        font-size: 18px;
}

*{
    box-sizing: border-box;
}

body{
    /* margin: 0; */
}
 .menu{
    /* padding: 0; */
    /* text-align: center; */
    background-color:bisque;
    list-style: none;
    /* position: absolute; */
}
.menu-item{
    list-style: none;
    /* display: inline-block; */
    /* vertical-align: top; */
    /* margin-right: 30px; */
    /* position: relative; */
 } 
.menu-link,
.submenu-link{
    background-color: aquamarine;
    /* display: block; */
    /* padding: 1em 1em; */
    list-style: none;
    text-decoration: none;
    /* cursor: pointer; */
} 